{% extends 'base.html' %}
{% load static %}


{% block page_header %}
    <div class="container mt-auto text-center">
        <h1 class="display-1 text-danger">500</h1>
        <img src="{% static 'images/error_500.png' %}" alt="500 Error Image" class="img-fluid" style="max-width: 50%; margin: auto;">
        <h3 class="text-white">Internal Server Error</h3>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container text-warning text-center my-5">
        <p class="lead">Something went wrong on our end. Please try again later.</p>
        <a href="{% url 'home' %}" class="btn btn-primary mt-3">Go Back Home</a>
    </div>
{% endblock %}
