{% extends "account/base_entrance.html" %}
{% load i18n %}
{% load allauth account %}
{% block head_title %}
    {% trans "Sign Up" %}
{% endblock head_title %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}

{% block content %}
    <h1>{% trans "Sign Up" %}</h1>

    <!-- Signup Form -->
    <form method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">{% trans "Sign Up" %}</button>
    </form>

    <!-- Sign in prompt -->
    {% if not SOCIALACCOUNT_ONLY %}
        {% setvar link %}
            <a href="{{ login_url }}">
        {% endsetvar %}
        {% setvar end_link %}
            </a>
        {% endsetvar %}
        <p>{% blocktranslate %}Already have an account? {{ link }}Sign in{{ end_link }}.{% endblocktranslate %}</p>
    {% endif %}

    <!-- Social accounts signup -->
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
{% endblock content %}
