asgiref==3.8.1
autopep8==2.3.2
babel==2.17.0
black==25.1.0
boto3==1.35.74
botocore==1.35.74
certifi==2025.1.31
charset-normalizer==3.4.1
click==8.1.8
cloudinary==1.42.1
crispy-bootstrap4==2024.1
crispy-bootstrap5==2024.2
dj-database-url==2.2.0
dj3-cloudinary-storage==0.0.6
Django==5.1.7
django-allauth==0.63.3
django-countries==7.6.1
django-crispy-forms==2.3
django-extensions==3.2.3
django-money==3.5.2
django-sendgrid-v5==1.2.4
django-storages==1.14.4
docutils==0.15.2
git-filter-repo==2.47.0
gunicorn==22.0.0
idna==3.10
iniconfig==2.0.0
jmespath==0.9.5
mypy-extensions==1.0.0
packaging==24.2
pathspec==0.12.1
pillow==10.4.0
platformdirs==4.3.6
pluggy==1.5.0
psycopg2-binary==2.9.10
py-moneyed==3.0
pycodestyle==2.12.1
pygraphviz==1.14
pytest==8.3.4
pytest-django==4.9.0
python-dateutil==2.9.0.post0
python-decouple==3.8
python-http-client==3.3.7
pytz==2024.1
requests==2.32.3
s3transfer==0.10.4
sendgrid==6.11.0
setuptools==75.8.0
six==1.17.0
sqlparse==0.5.3
starkbank-ecdsa==2.2.0
stripe==10.9.0
typing_extensions==4.12.2
urllib3==1.26.15
whitenoise==6.8.2
