{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  {% block meta %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% endblock %}

  {% block extra_meta %}{% endblock %}

  {% block corecss %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/base.css' %}?v={{ time }}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap" rel="stylesheet">
  <style>
    html, body {
      height: 100%;
    }
    body {
      display: flex;
      flex-direction: column;
    }
    main {
      flex: 1;
    }
    .navbar-dark .navbar-nav .nav-link {
      color: rgba(255,255,255,0.8);
    }
    .navbar-dark .navbar-nav .nav-link:hover {
      color: #fff;
    }
  </style>
  {% endblock %}

  {% block corejs %}
  <script src="https://kit.fontawesome.com/95a43c4ec4.js" crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
  <script src="https://js.stripe.com/v3/"></script>
  {% endblock %}

  {% block extra_js %}{% endblock %}

  {% block favicon %}
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'images/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'site.webmanifest' %}">
  {% endblock %}

  <title>{% block extra_title %}MuseArt{% endblock %}</title>
  {% block extra_css %}{% endblock %}
</head>
<body>
  <header class="container container-fluid mt-1">
    <div class="row pt-lg-3 d-none d-lg-flex align-items-center">
      <div class="col-lg-4 text-center text-lg-left">
        <a href="{% url 'home' %}" class="main-logo-link">
          <img src="{% static 'images/museart.jpg' %}" alt="MuseArt Logo" style="max-height: 80px;">
        </a>
      </div>
      <div class="col-lg-4">
        <form method="GET" action="{% url 'products' %}">
          <div class="input-group">
            <input class="form-control" type="text" name="q" placeholder="Discover Your Next Masterpiece...">
            <div class="input-group-append">
              <button class="btn btn-danger" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="col-lg-4 text-right">
        <ul class="list-inline mb-0">
          <li class="list-inline-item dropdown">
            <a class="text-white nav-link dropdown-toggle" href="#" id="user-option" data-toggle="dropdown">
              <i class="fas fa-user fa-lg"></i> My Account
            </a>
            <div class="dropdown-menu">
              {% if request.user.is_authenticated %}
                {% if request.user.is_superuser %}<a href="#" class="dropdown-item">Product Management</a>{% endif %}
                <a href="#" class="dropdown-item">My Profile</a>
                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
              {% else %}
                <a href="{% url 'account_signup' %}" class="dropdown-item">Sign Up</a>
                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
              {% endif %}
            </div>
          </li>
          <li class="list-inline-item">
            <a class="nav-link text-white" href="{% url 'view_cart' %}">
              <i class="fas fa-shopping-cart fa-lg"></i> Cart
            </a>
          </li>
        </ul>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav">
        <span class="navbar-toggler-icon"></span>
      </button>
      {% include 'includes/mobile-top-header.html' %}
      {% include 'includes/main-nav.html' %}
    </nav>
  </header>

  {% if messages %}
  <div class="message-container">
    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible text-warning show">
      {{ message }}<button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    {% endfor %}
  </div>
  {% endif %}

  <main>
    {% block page_header %}{% endblock %}
    {% block content %}{% endblock %}
  </main>

  <footer class="footer bg-dark text-white mt-auto py-2">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <h4 class="text-warning font-weight-bold">Subscribe for Offers</h4>
          <p class="text-info-50">Get the latest updates and exclusive offers directly in your inbox.</p>
          <form action="https://herokuapp.us8.list-manage.com/subscribe/post?u=530fe238577e7bb318b2183dc&amp;id=26d5ca9611" method="post" target="_blank" class="d-flex">
            <input type="email" name="EMAIL" class="form-control mr-2" placeholder="Enter your email" required style="max-width: 300px;">
            <button type="submit" class="btn btn-warning font-weight-bold">Subscribe</button>
          </form>
        </div>
        <div class="col-md-6 text-md-right mt-4 mt-md-0">
          <p class="font-weight-bold">&copy; 2024 <span class="text-warning">MuseArt</span>. All Rights Reserved.</p>
          <p class="text-info-50">Stay connected and follow us on social media.</p>
          <hr class="block-divider border-light">
          <div class="social-links">
            <a href="https://www.youtube.com/channel/UCe8FOuV0fn-nqO_QWrHTRkQ" target="_blank" class="text-danger h5 mr-4">
              <i class="fab fa-youtube"></i> YouTube
            </a>
            <a href="https://www.instagram.com/muse.artv1/" target="_blank" rel="noopener noreferrer" class="text-white d-flex align-items-center gap-2">
              <i class="fab fa-instagram fa-lg"></i><span>Instagram</span>
            </a>            
          </div>
        </div>
      </div>
    </div>
  </footer>

  {% block postloadjs %}
  {{ block.super }}
  <script src="{% static 'js/message_dismisser.js' %}"></script>
  <script src="{% static 'js/toasts.js' %}"></script>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script>
    (function($) {
      window.fnames = new Array(); 
      window.ftypes = new Array();
      fnames[0] = 'EMAIL'; ftypes[0] = 'email';
      fnames[1] = 'FNAME'; ftypes[1] = 'text';
      fnames[2] = 'LNAME'; ftypes[2] = 'text';
    }(jQuery));
    var $mcj = jQuery.noConflict(true);
  </script>
  {% endblock %}
</body>
</html>
